# Auto detect text files and perform LF normalization
* text=auto

# Force LF endings for texts | Skipped for now, apply "eol=lf" if needed in the future
*.lua   text
*.md    text
*.cfg   text
*.txt   text
*.json   text
*.vmt    text

# Force assets as binary
*.mdl  binary
*.vtf  binary
*.wav  binary
*.mp3  binary
*.ogg  binary
*.png  binary
*.jpg  binary
*.jpeg binary
*.tga  binary
*.bsp  binary